.hero-box {
  margin: 10px auto 0px;
  padding: 5px auto;
  width: 100%;
  text-align: center;
  font-weight: $font-weight-bold;
  line-height: $line-height-main;
  font-size: $font-size-above;
  letter-spacing: $letter-spacing; 
}
.hero-title {
  margin-bottom: 15px;
}

.hero-date {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
