// text
$title: rgb(0, 0, 0);
$main-font: 'Lato', sans-serif;
$font-weight-lighter: 400;
$font-weight-bold: 700;
$font-size-normal: 14px;
$font-size-above: 16px;
$letter-spacing: 0.03em;
$letter-spacing-max: 0.06em;
$line-height-main: 1.14;
$line-height-secondary: 1.71;
// figure
$border: rgb(0, 0, 0);

