// text
$title: rgb(0, 0, 0);
$main-font: 'Source Serif Pro', serif;
$font-weight-lighter: 400;
$font-weight-bold: 700;
$font-size-normal: 14px;
$font-size-above: 16px;
$letter-spacing: normal;
$letter-spacing-max: 0.06em;
$line-height-main: 1.21;
// figure
$border: rgb(0, 0, 0);

